MainWindow {
    background-color: white
}

QPushButton#orange {
    color: black;
    background-color: lightgrey;
    border-style: outset;
    border-width: 2px;
    border-color: black;
    border-radius : 25;
    border : 2px solid black
}

QPushButton:pressed#orange {
    color: white;
    background-color: darkgrey;
    border-style: outset;
    border-width: 2px;
    border-color: grey;
    border-radius : 25;
    border : 2px solid grey
}